@page "{championID:int?}"
@model WebApplicationProject.Pages.Champions.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create a new Champion!</h1>

<form method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="Champion.Id" />

    <input type="hidden" asp-for="Champion.LinkUrl" />

    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="Champion.Name"></label>
            <input class="form-control" asp-for="Champion.Name" />
            <span class=" text-danger" asp-validation-for="Champion.Name"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Champion.Role"></label>
            <select class="form-control" asp-for="Champion.Role" asp-items="@Model.Roles">
                <option value="">Pick a role</option>
            </select>
            <span class="text-danger" asp-validation-for="Champion.Role"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            <label asp-for="Champion.Overview"></label>
            <input class="form-control" asp-for="Champion.Overview" />
            <span class=" text-danger" asp-validation-for="Champion.Overview"></span>
        </div>
        <div class="form-group col-sm-2">
            <label asp-for="Champion.UltimateName"></label>
            <input class="form-control" asp-for="Champion.UltimateName" />
            <span class=" text-danger" asp-validation-for="Champion.UltimateName"></span>
        </div>

        <div class="form-group col-sm-4">
            <label asp-for="Champion.UltimateDesc"></label>
            <input class="form-control" asp-for="Champion.UltimateDesc" />
            <span class=" text-danger" asp-validation-for="Champion.UltimateDesc"></span>
        </div>
    </div>

    <div class="form-row">
        <label asp-for="Photo" class="col-sm-1"></label>
        <div class="form-group col-sm-4">
            <div class="custom-file">
                <input type="file" onchange="return ValidatePhoto(this);" asp-for="Photo" />
                <p id="invalidImg" class="text-danger"></p>

            </div>

        </div>

        <label asp-for="Gif" class="col-sm-1"></label>
        <div class="form-group col-sm-4">
            <div class="custom-file">
                <input type="file" onchange="return ValidateVideo(this);" asp-for="Gif" />
                <p id="invalidGif" class="text-danger"></p>

            </div>

        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>


    <script>
        var _validFileExtensions = [".jpg", ".jpeg", ".gif", ".png"];
        function ValidatePhoto(oInput) {
            if (oInput.type == "file") {
                var sFileName = oInput.value;
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            $('#invalidImg').html("");
                            blnValid = true;
                            break;
                        }
                    }

                    if (!blnValid) {
                        $('#invalidImg').html("<p class='text-danger'>Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", ") + "</p>");
                        oInput.value = "";
                        return false;
                    }
                }
            }
            return true;
        }
    </script>

    <script>
        var _validFileExtensions = [".jpg", ".jpeg", ".gif", ".png"];
        function ValidateVideo(oInput) {
            if (oInput.type == "file") {
                var sFileName = oInput.value;
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            $('#invalidImg').html("");
                            blnValid = true;
                            break;
                        }
                    }

                    if (!blnValid) {
                        $('#invalidGif').html("<p class='text-danger'>Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", ") + "</p>");
                        oInput.value = "";
                        return false;
                    }
                }
            }
            return true;
        }
    </script>





</form>


