@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Web Application Project</h1>
    <img style="width:100%; height:auto;" src="~/Photos/wallpaper.jpg" />
    <p style="margin-top:50px;">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
