@page
@{
    ViewData["Title"] = "Universe";
}

    <link href="~/css/Universe.css" rel="stylesheet" />

    <body class="container-fluid ">
        <div id="7" style="text-align:center;" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg" src="~/Photos/content_type_icon_faction__14mjH.png" />
            <p class="text1">FEATURED REGIONS</p>
        </div>

        <div class=" form-row justify-content-between" style="margin-top:30px; text-align:center;">
            <div class="form-group col-sm-2">
                <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg1" src="~/Photos/bilgewater_crest_icon.png" />
                <a style="font-family:Arial; font-size:20px; color:#979da1; font-style:italic; text-decoration:none;" href="#1">Bilgewater</a>
            </div>
            <div class="form-group col-sm-2">
                <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg1" src="~/Photos/demacia_crest_icon.png" />
                <a style="font-family:Arial; font-size:20px; color:#979da1; font-style:italic; text-decoration:none;" href="#2">Demacia</a>
            </div>
            <div class="form-group col-sm-2">
                <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg2" src="~/Photos/freljord_crest_icon.png" />
                <a style="font-family:Arial; font-size:20px; color:#979da1; font-style:italic; text-decoration:none;" href="#3">Freljord</a>
            </div>
            <div class="form-group col-sm-2">
                <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg3" src="~/Photos/iona_crest_icon.png" />
                <a style="font-family:Arial; font-size:20px; color:#979da1; font-style:italic; text-decoration:none;" href="#4">Ionia</a>
            </div>
            <div class="form-group col-sm-2">
                <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg3" src="~/Photos/noxus_crest_icon.png" />
                <a style="font-family:Arial; font-size:20px; color:#979da1; font-style:italic; text-decoration:none;" href="#5">Noxus</a>
            </div>
            <div class="form-group col-sm-2">
                <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg3" src="~/Photos/shurima_crest_icon.png" />
                <a style="font-family:Arial; font-size:20px; color:#979da1; font-style:italic; text-decoration:none;" href="#6">Shurima</a>
            </div>
        </div>

        <div style="color:rgba(196, 163, 84, 0.82); margin-top:40px; text-align:center;" id="1" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg3" src="~/Photos/bilgewater_crest_icon.png" />
            <h2 class="text2">BILGEWATER</h2>
            <img class="logimg" src="~/Photos/bilgewater.png" />

        </div>

        <div style="font-size:15px; color:rgba(196, 163, 84, 0.82); text-align:center;" class="form-row">
            <div class="form-group col-sm-3">

            </div>
            <div style="text-align:justify" class=" form-group col-sm-6">
                <p>
                <p class="firstletter"> N</p>estled away in the Blue Flame Isles archipelago, Bilgewater is a port city like no other—home to serpent hunters, dock gangs, and smugglers from across the known world. Here, fortunes are made and ambitions shattered in the blink of an eye. For those fleeing justice, debt, or persecution, Bilgewater can be a place of new beginnings, for no one on these twisted streets cares about your past. Even so, with each new dawn, careless travelers can always be found floating in the harbor, their purses empty and their throats slit…
                </p>
            </div>
            <div class="form-group col-sm-3">

            </div>
        </div>

        <div style="text-align:center; color:rgba(196, 163, 84, 0.82);" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg1" src="~/Photos/visions.png" />
            <p style="font-size:18px; font-weight:bold;">Visions of Bilgewater</p>
        </div>

        <div class=" form-row">
            <div class="form-group  col-sm-4 ">
                <img class=" logimg" src="~/Photos/bilgevision1.jpg" />
            </div>
            <div class="form-group col-sm-4">
                <img class=" logimg" src="~/Photos/bilgevision2.jpg" />
            </div>
            <div class="form-group col-sm-4">
                <img class=" logimg" src="~/Photos/bilgevision3.jpg" />
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-sm-8 ">
                <img class="logimg" src="~/Photos/bilgevision5.jpg" />
            </div>

            <div class="form-group col-sm-4">
                <img class="logimg" src="~/Photos/bilgevision4.jpg" />
            </div>
        </div>
        <a href="#7" class="btn btn-warning">Back to the top!</a>



        <div style="color:rgba(196, 163, 84, 0.82); margin-top:40px; text-align:center;" id="2" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg3" src="~/Photos/demacia_crest_icon.png" />
            <h2 class="text2">DEMACIA</h2>
            <img class="logimg" src="~/Photos/Demacia5.jpg" />

        </div>

        <div style="font-size:15px; color:rgba(196, 163, 84, 0.82); text-align:center;" class="form-row">
            <div class="form-group col-sm-3">

            </div>
            <div style="text-align:justify" class=" form-group col-sm-6">
                <p>
                <p class="firstletter"> A</p>strong, lawful kingdom with a prestigious military history, Demacia’s people have always valued the ideals of justice, honor, and duty most highly, and are fiercely proud of their cultural heritage. But in spite of these lofty principles, this largely self-sufficient nation has grown more insular and isolationist in recent centuries.
                </p>
            </div>
            <div class="form-group col-sm-3">

            </div>
        </div>

        <div style="text-align:center; color:rgba(196, 163, 84, 0.82);" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg1" src="~/Photos/visions.png" />
            <p style="font-size:18px; font-weight:bold;">Visions of Demacia</p>
        </div>

        <div class=" form-row">
            <div class="form-group  col-sm-4 ">
                <img class=" logimg" src="~/Photos/Demacia1.jpg" />
            </div>
            <div class="form-group col-sm-4">
                <img class=" logimg" src="~/Photos/Demacia2.jpg" />
            </div>
            <div class="form-group col-sm-4">
                <img class=" logimg" src="~/Photos/Demacia3.jpg" />
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-sm-8 ">
                <img class="logimg" src="~/Photos/Demacia4.jpg" />
            </div>

            <div class="form-group col-sm-4">
                <img class="logimg" src="~/Photos/Demacia5.jpg" />
            </div>
        </div>
        <a href="#7" class="btn btn-warning">Back to the top!</a>



        <div style="color:rgba(196, 163, 84, 0.82); margin-top:40px; text-align:center;" id="3" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg3" src="~/Photos/freljord_crest_icon.png" />
            <h2 class="text2">FRELJORD</h2>
            <img class="logimg" src="~/Photos/freljord.jpg" />

        </div>

        <div style="font-size:15px; color:rgba(196, 163, 84, 0.82); text-align:center;" class="form-row">
            <div class="form-group col-sm-3">

            </div>
            <div style="text-align:justify" class=" form-group col-sm-6">
                <p>
                <p class="firstletter"> T</p>he Freljord is a harsh and unforgiving place—where the people are born warriors, who must persevere against all odds.

                Proud and fiercely independent, the tribes of the Freljord are often considered wild, rugged, and “uncivilized” by their neighbors across Valoran, who do not know the ancient traditions that shaped them. Many thousands of years ago, the alliance between the sisters Avarosa, Serylda, and Lissandra was shattered in a war that unknowingly threatened all of Runeterra, plunging the northern lands into chaos, and near-constant winter. Now, only those truly exceptional mortals who seem immune to the ravages of fire or ice seem destined, or able, to lead.
                </p>
            </div>
            <div class="form-group col-sm-3">

            </div>
        </div>

        <div style="text-align:center; color:rgba(196, 163, 84, 0.82);" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg1" src="~/Photos/visions.png" />
            <p style="font-size:18px; font-weight:bold;">Visions of Freljord</p>
        </div>

        <div class=" form-row">
            <div class="form-group  col-sm-4 ">
                <img class=" logimg" src="~/Photos/freljord3.jpg" />
            </div>
            <div class="form-group col-sm-4">
                <img class=" logimg" src="~/Photos/freljord4.jpg" />
            </div>
            <div class="form-group col-sm-4">
                <img class=" logimg" src="~/Photos/freljord.jpg" />
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-sm-6 ">
                <img class="logimg" src="~/Photos/freljordv2.jpg" />
            </div>

            <div class="form-group col-sm-6">
                <img class="logimg" src="~/Photos/freljord5.jpg" />
            </div>
        </div>
        <a href="#7" class="btn btn-warning">Back to the top!</a>

        <div style="color:rgba(196, 163, 84, 0.82); margin-top:40px; text-align:center;" id="4" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg3" src="~/Photos/iona_crest_icon.png" />
            <h2 class="text2">IONIA</h2>
            <img class="logimg" src="~/Photos/ionia-01.jpg" />

        </div>

        <div style="font-size:15px; color:rgba(196, 163, 84, 0.82); text-align:center;" class="form-row">
            <div class="form-group col-sm-3">

            </div>
            <div style="text-align:justify" class=" form-group col-sm-6">
                <p>
                <p class="firstletter"> S</p>urrounded by treacherous seas, Ionia is composed of a number of allied provinces scattered across a massive archipelago, known to many as the First Lands. Since Ionian culture has long been shaped by the pursuit of balance in all things, the border between the material and spirit realms tends to be more permeable here, especially in the wild forests and mountains.
                </p>
            </div>
            <div class="form-group col-sm-3">

            </div>
        </div>

        <div style="text-align:center; color:rgba(196, 163, 84, 0.82);" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg1" src="~/Photos/visions.png" />
            <p style="font-size:18px; font-weight:bold;">Visions of Ionia</p>
        </div>

        <div class=" form-row">
            <div class="form-group  col-sm-4 ">
                <img class=" logimg" src="~/Photos/Ionia5.jpg" />
            </div>
            <div class="form-group col-sm-4">
                <img class=" logimg" src="~/Photos/Ionia2.jpg" />
            </div>
            <div class="form-group col-sm-4">
                <img class=" logimg" src="~/Photos/Ionia3.jpg" />
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-sm-6 ">
                <img class="logimg" src="~/Photos/Ionia4.jpg" />
            </div>

            <div class="form-group col-sm-6">
                <img class="logimg" src="~/Photos/Ionia1.jpg" />
            </div>
        </div>
        <a href="#7" class="btn btn-warning">Back to the top!</a>
        

        <div style="color:rgba(196, 163, 84, 0.82); margin-top:40px; text-align:center;" id="5" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg3" src="~/Photos/noxus_crest_icon.png" />
            <h2 class="text2">NOXUS</h2>
            <img class="logimg" src="~/Photos/noxus_splash.jpg" />

        </div>

        <div style="font-size:15px; color:rgba(196, 163, 84, 0.82); text-align:center;" class="form-row">
            <div class="form-group col-sm-3">

            </div>
            <div style="text-align:justify" class=" form-group col-sm-6">
                <p>
                <p class="firstletter"> N</p>oxus is a powerful empire with a fearsome reputation. To those beyond its borders, it is brutal, expansionist, and threatening, yet those who look past its warlike exterior see an unusually inclusive society, where the strengths and talents of its people are respected and cultivated.
                </p>
            </div>
            <div class="form-group col-sm-3">

            </div>
        </div>

        <div style="text-align:center; color:rgba(196, 163, 84, 0.82);" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg1" src="~/Photos/visions.png" />
            <p style="font-size:18px; font-weight:bold;">Visions of Noxus</p>
        </div>

        <div class=" form-row">
            <div class="form-group  col-sm-4 ">
                <img class=" logimg" src="~/Photos/noxus1.jpg" />
            </div>
            <div class="form-group col-sm-4">
                <img class=" logimg" src="~/Photos/noxus2.jpg" />
            </div>
            <div class="form-group col-sm-4">
                <img class=" logimg" src="~/Photos/noxus3.jpg" />
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-sm-6 ">
                <img class="logimg" src="~/Photos/noxus4.jpg" />
            </div>

            <div class="form-group col-sm-6">
                <img class="logimg" src="~/Photos/noxus6.jpg" />
            </div>
        </div>
        <a href="#7" class="btn btn-warning">Back to the top!</a>
       

        <div style="color:rgba(196, 163, 84, 0.82); margin-top:40px; text-align:center;" id="6" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg3" src="~/Photos/shurima_crest_icon.png" />
            <h2 class="text2">SHURIMA</h2>
            <img class="logimg" src="~/Photos/shurima1.jpg" />

        </div>

        <div style="font-size:15px; color:rgba(196, 163, 84, 0.82); text-align:center;" class="form-row">
            <div class="form-group col-sm-3">

            </div>
            <div style="text-align:justify" class=" form-group col-sm-6">
                <p>
                <p class="firstletter"> T</p>he empire of Shurima was once a thriving civilization that spanned an entire continent. Forged in a bygone age by the mighty god-warriors of the Ascended Host, it united all the disparate peoples of the south, and enforced a lasting peace between them.         Few dared to rebel. Those that did, like the accursed nation of Icathia, were crushed without mercy.
                </p>
            </div>
            <div class="form-group col-sm-3">

            </div>
        </div>

        <div style="text-align:center; color:rgba(196, 163, 84, 0.82);" class="col-sm-12">
            <img style="display:block; margin-left:auto; margin-right:auto;" class="smallimg1" src="~/Photos/visions.png" />
            <p style="font-size:18px; font-weight:bold;">Visions of Shurima</p>
        </div>

        <div class=" form-row">
            <div class="form-group  col-sm-4 ">
                <img class=" logimg" src="~/Photos/shurima6.jpg" />
            </div>
            <div class="form-group col-sm-4">
                <img class=" logimg" src="~/Photos/shurima2.jpg" />
            </div>
            <div class="form-group col-sm-4">
                <img class=" logimg" src="~/Photos/shurima3.jpg" />
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-sm-6 ">
                <img class="logimg" src="~/Photos/shurima5.jpg" />
            </div>

            <div class="form-group col-sm-6">
                <img class="logimg" src="~/Photos/shurima4.jpg" />
            </div>
        </div>

        <a href="#7" class="btn btn-warning">Back to the top!</a>

    </body>

